body {
    margin: 0;
    margin-top: 30px;
    background-color: #000000;
    background-image: url('../images/background/background-gif.gif'); /* replace with the path to your image */
    background-repeat: repeat; /* this will tile the image */
}
  
  /* navigation bar  */
.navig {
    display: grid;
    gap: 5px;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 3fr 3fr 30px 30px 30px 30px 200px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "empty1 disp1 disp2 disp3 disp4 empty2 empty3 quick1 quick2 quick3 quick4 empty4";
    justify-content: center;
    align-items: center;
    top: 0; 
    width: 100%; 
    overflow:hidden;
    background-color: rgb(90, 107, 104);
    position: fixed; 
    border-width: 3px 0px 3px 0px;
    border-style:solid;
    border-color:#967a41;
    background-image: url('../images/background/background-gif.gif'); /* replace with the path to your image */
    background-repeat: repeat; /* this will tile the image */
    text-shadow: 1px 1px 2px rgb(58, 58, 58), 0 0 1em rgb(77, 77, 77), 0 0 0.2em rgb(122, 122, 122);
    
}

.navig:hover {
    background-image: url('../images/background/background-gif.gif'); /* replace with the path to your image */
    background-repeat: repeat; /* this will tile the image */
}

.quick{
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);    
}
  
  /* Nav bar links */
.navig a {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 10px;
    text-decoration: none;
    flex-shrink: 0;
    border-width: 2px;
    border-color: #000000;
    max-width: 100px;
    justify-self: right;
    font-family: 'Lato', sans-serif;
  }
  
.navig a:hover {
    background: #967a41;
    opacity: .7;
    color: black;
}
  

/* sections */
.boxes {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr; */
    justify-content: center;
    text-align: center;
    align-items: start;
    max-width: 1400px; /* max-width of the layout */
    margin: 0 auto;
    padding: 0;

}

.proj:hover{
background-image: url('../images/background/background-gif5.gif'); /* replace with the path to your image */
background-repeat: repeat; /* this will tile the image */
}

.block {
    color: white;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}

.block > p {
    font-size: 1.8rem;
    text-align: center;
}

.block-3 > ul {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    margin-top: 3px;
}

.block-3 > ul > li{
    padding-left: 3px;
    padding-right: 3px;
}

.block > .header1{
    font-size: 3rem;
}

.block > .header2{
    font-size: 1.8rem;
}

.block-3 > .lastsent{
    margin-bottom: 0;
}

.block-3{
    padding: 25px;
}
.block-4{
    padding: 25px;
}
.block-5{
    padding: 25px;
}
.block-6{
    margin-bottom: 300px;
    padding: 25px;
}

.name{
    color: #e6bc6a
}

.name:hover{
    color: #d3a445;

}

.image {
      max-width: 1200px;

}

.navig > .quick {
    padding: 0px;
    align-content: center;
    max-height: 24px;
  }

.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    text-decoration: none;
    color: #e6bc6a
}

.lang{
    color: black;
}

.bar{
    color: black;
}

.lang:hover{
    color: #e6bc6a
}

.plang:hover ~ .lang {
    color:#e6bc6a
}

.navig .disp1{
    grid-area: "disp1";
}

.navig .disp2{
    grid-area: "disp2";
}

.navig .disp3{
    grid-area: "disp3";
}

.navig .disp4{
    grid-area: "disp4";
}

.navig .quick1{
    grid-area: "quick1";
}

.navig .quick2{
    grid-area: "quick2";
}

.navig .quick3{
    grid-area: "quick3";
}

.navig .quick4{
    grid-area: "quick4";
}

.navig .empty1{
    grid-area: "empty1";
}
.navig .empty2{
    grid-area: "empty2";
}
.navig .empty3{
    grid-area: "empty3";
}
.navig .empty4{
    grid-area: "empty4";
}

#loader {
    background: url('../images/loading.gif') no-repeat center center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#projboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.proj{
    display: grid;
    border-style: solid;
    border-color:#d3a445;
    border-width: 2px;
    max-width: 220px;
    max-height: 220px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.proj img{
    width: 150px;
    height: 150px;
    margin: 5px;
}

.proj:hover{
    filter: brightness(90%);
    border-color:#967a41;
}

.proj p{
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    padding: 0;
}

.pagebox {
    margin-top: 50px;
    margin-left: 10px; 
}

  
  .canvas-size-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin-right: 0px; /* increase the spacing between the selection bar and the canvas */
}
  
  
  .canvas-size-option {
    background-color: #d3a445; /* Adjust this to your preferred background color */
    color: white; /* Adjust this to your preferred text color */
    border: none; /* Adjust border properties as desired */
    padding: 10px 24px; /* Adjust padding as desired */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Adjust font-size as desired */
    margin: 2px 0px;
    margin-right: 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Lato', sans-serif; /* Adjust to your preferred font */
}

  .canvas-size-option:hover {
    background-color: white; /* Adjust to your preferred hover background color */
    color: black; /* Adjust to your preferred hover text color */
}

.project-title {
    color: white; /* changes color of text to white */
    text-align: center; /* centers the text */
    font-size: 2em; /* adjust as per your need for sizing the font */
    margin-top: 40px; /* adjust as per your need for top margin */
    margin-bottom: 20px; /* adjust as per your need for bottom margin */
  }

.result {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.result {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 1400px){
  .navig{
    grid-template-columns: 0px 2fr 2fr 2fr 2fr 1fr 1fr 30px 30px 30px 30px 1fr;
}
}
@media (max-width: 768px){
    .navig a {
        padding: 1px 3px;
      }
    .navig > .quick {
        padding: 0px;
      }
    .navig .disp4 {
        margin-right: 20px;
      }
    .block-2{
        overflow: hidden;
    }
    .image{
        max-width: 900px;
    }
}

@media (max-width: 414px){
    .navig{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr repeat(6, 0px);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "empty1 disp1 disp2 disp3 disp4 empty2";
        /* "empty3 quick1 quick2 quick3 quick4 empty4"; */
        row-gap: 0;
    }

    .block-3 > ul{
        flex-wrap:wrap
    }

    .image{
        max-width: 400px;
    }
    .navig > .quick1{
        visibility: hidden;
        max-width: 0px;
    }
    .navig > .quick4{
        justify-self: left;
        visibility: hidden;
        max-width: 0px;
    }

    .navig > .quick2{
        justify-self: center;
        visibility: hidden;
        max-width: 0px;
    }

    .navig > .quick3{
        justify-self: center;
        visibility: hidden;
        max-width: 0px;
    }

    .navig .disp4 {
        margin-right: 10px;
      }

    .block > .header2{
        font-size: 1.2rem;
    }
    .block > p {
        font-size: 1.2rem;
    }

    .block > .header1{
        font-size: 2.3rem;
    }
}